.container {
  width: 75%;
  text-align: center;
  border: 3px solid black;
  margin: auto;
}
.btn {
  border-radius: 5px;
  width: 60px;
  height: 30px;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  padding: 1px;
  border: 1px solid black;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-blackjack-row-1 {
  background-image: url("./pics&sounds/background-image-2.PNG");
  color: blanchedalmond;
}
.flex-blackjack-row-1 div {
  border: 2px solid black;
  padding: 10px;
  height: 350px;
  text-align: center;
  flex: 1;
}
.flex-blackjack-row-1 img{
  flex-wrap: wrap;
  justify-content: space-around;
  width: 25%;
  padding: 10px;
}

table,
th,
td {
  border: 2px solid black;
  padding: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
}

h2 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}
.btn-hit {
  background-color: rgb(129, 229, 233);
  margin: 2px;
}
.btn-stand {
  background-color: yellow;
  margin: 2px;
}
.btn-deal {
  background-color: red;
}

.btn-hit:hover,
.btn-deal:hover,
.btn-stand:hover {
  border: 3px solid black;
}
